body {
  text-align: center;
}

.btn-group button {
  margin: 0 0.5rem;
}

.btn-group button:nth-child(1) {
  background-color: green;
  color: white;
}

.btn-group button:nth-child(2) {
  background-color: red;
  color: white;
}

.btn-group button:nth-child(3) {
  background-color: gray;
  color: white;
}

.btn-group button:nth-child(4) {
  background-color: yellowgreen;
}

.btn-group button:nth-child(5) {
  background-color: brown;
  color: white;
}

.btn-group button:disabled {
  cursor: not-allowed;
}
